###
### Rails
### 

# Bundler config
/.bundle

# Logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Byebug command history file.
.byebug_history

###
### NodeJS
###

bower_components/
node_modules/

###
### Application
###

/public/assets/
/public/uploads/

###
### Poor man's .gitignore_global
###

# Vim
*.swp

# IDEA & RubyMine
.idea/

