@import "common/global";

/* TODO: merge with inline-form? */
.comment-form {
  display: flex;
  align-items: center;
}

.comment-form__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 8px;
}

.comment__body {
  position: relative;
  margin-left: 20px;

  word-wrap: break-word;
}

.comment__author {
  font-family: $font_family_header;
  font-size: 18px;
  margin-bottom: 6px;
}

.comment__meta {
  font-size: 14px;
  margin-top: 6px;
  text-align: right;
}

.comment__body__arrow {
  position: absolute;
  left: -12px;

  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right: 12px solid $grid_item_background;
}
