@import "common/global";

.image-grid__item {
  width: 300px;
  margin: 10px;
}

.image__source {
  display: inline-block;
  color: $meta_color;
  padding: 4px;
  text-decoration: none;

  @include color-transition;

  &:hover {
    color: $meta_hover_color;
  }
}

.star {
  display: inline-block;
  padding: 4px;
  margin-bottom: 6px;

  color: $meta_color;

  @include color-transition;

  &:hover {
    cursor: pointer;
    color: $meta_hover_color;
  }
}

.star--active {
  color: black;
}
