@import "common/global";

.image-grid__item {
  width: 300px;
  margin: 10px;
}

.star {
  display: inline-block;
  padding: 4px;
  margin-bottom: 6px;
  border-radius: 4px;
  font-size: 14px;

  background: $meta_background;
  color: $meta_color;

  @include bg-color-transition;

  &:hover {
    cursor: pointer;

    background: $meta_hover_background;
    color: $meta_hover_color;
  }
}

.star--active {
  background: $meta_active_background;
  color: $meta_active_color;

  &:hover {
    background: $meta_active_hover_background;
  }
}
