@import "common/global";

.grid-header {
  box-sizing: border-box;
}

.grid-header, .grid {
  margin: 0 auto;
}

/* A class dynamically removed by JavaScript
 * to prevent layout "jumps" caused by Masonry. */
.grid--loading {
  visibility: hidden;
}

.grid__item {
  width: 300px;
  margin: 8px 8px 0 0;
}

.image__link {
  display: inline-block;
  position: relative;
  font-size: 0;
}

.image__link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  opacity: 0;
  transition: opacity 0.2s;
}

.image__link:hover::after {
  opacity: 0.3;
  cursor: pointer;
}

.image__source {
  display: inline-block;
  color: $meta_color;
  padding: 4px;
  margin-top: 4px;
  text-decoration: none;

  @include color-transition;

  &:hover {
    color: $meta_hover_color;
  }
}
