@import "common/global";

.meta {
  display: inline-block;
  padding: 4px;
  margin-bottom: 8px;
  text-decoration: none;

  color: $meta_color;

  @include color-transition;

  &:hover {
    cursor: pointer;
    color: $meta_hover_color;
  }

  &.active {
    font-weight: bold;
    color: black;
  }
}

.meta + .meta {
  margin-left: 8px;
}

.meta--inline {
  margin: 0;
}

.meta--image-display {
  font-size: 18px;
  color: #b8b8b8;

  &.active {
    color: white;
  }

  &:hover {
    color: #e0e0e0;
  }
}
