@import "common/global";

.tag {
  display: inline-block;
  font-size: 14px;
  margin: 0 6px 2px 0;
  padding: 4px 8px;
  border-radius: 4px;

  text-decoration: none;

  color: #7b518e;
  border: 1px solid;
  font-weight: bold;

  @include bg-color-transition;

  &:hover {
    background: #ece7ef;
    color: #703a88;

    cursor: pointer;
  }
}
