@import "common/global";

.tag {
  display: inline-block;
  font-size: 14px;
  margin: 0 6px 2px 0;
  padding: 4px 6px;
  border-radius: 4px;

  //background: $meta_background;
  //color: $meta_color;

  @include bg-color-transition;

  &:hover {
    //background: $meta_hover_background;
    //color: $meta_hover_color;
    cursor: pointer;
  }
}
