@import "common/global";

.tag {
  display: inline-block;
  font-size: 14px;
  background: $meta_background;
  margin: 0 6px 2px 0;
  border-radius: 4px;
  padding: 4px 6px;

  &:hover {
    background: $meta_hover_background;
    cursor: pointer;
  }
}
