@import "global";

.button {
  display: block;
  box-sizing: border-box;
  padding: 4px 6px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;

  border-radius: 4px;
  line-height: 24px;

  @include bg-color-transition;

  background: #7b518e;
  color: white;
  border: 1px solid #7b518e;

  &:hover {
    background: #703a88;
    border: 1px solid #703a88;
  }
}

.button--secondary {
  background: white;
  color: #7b518e;
  border: 1px solid;

  &:hover {
    background: #ece7ef;
    color: #703a88;
  }
}

.button--spacing-left {
  margin-left: 4px;
}

.button--inline {
  display: inline-block;
}

.button--round {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  text-align: center;
  margin-left: 8px;
}
