@import "global";

.inline-form {
  display: inline;
}

.input {
  display: block;
  box-sizing: border-box;
  padding: 6px;
  margin-bottom: 6px;
  font-size: 16px;

  //font-family: $font_family_monospace;
  //color: $input_text_color;
  //background: $input_color;

  max-width: 100%; /* prevent resizable inputs from overflowing the container */

  color: #343434;
  border: 1px solid $border_color;
}

.input:focus {
  color: $black;
  outline: none;
  border: 1px solid #c3a1d2;
}

.input--inline {
  display: inline-block;
}

.input--wide {
  width: 100%;
}

.input--no-margin {
  margin: 0;
}

textarea {
  height: 4em;
}
