/* Colors */

$grid_item_background: #f7f7f7;

$meta_background: #e3e1e4;
$meta_hover_background: #cbc0d2;

$meta_active_background: #d7c7de;
$meta_active_hover_background: #bcaac3;

$meta_color: #8e8e8e;
$meta_hover_color: #5d5d5d;

$input_border_color: #d6d6d6;

/* Dimensions */

$header_height: 48px;
$header_spacing: 12px;
$header_font_size: 18px;

$block_spacing: 6px;
$block_header_height: 32px;

$limited_layout_width: 980px;
$medium_layout_width: 1330px;
$layout_side_margin: 24px;

/* Fonts */

$font_family_base: 'Raleway', sans-serif;
$font_family_header: 'Sansita', sans-serif;

/* Mixins */

@mixin color-transition {
  transition: color 0.1s ease-in-out;
}

@mixin bg-color-transition {
  transition: background 0.1s ease-in-out,
              color 0.1s ease-in-out;
}
