/* Colors */

$grid_item_background: #f7f7f7;

$meta_background: #e3e1e4;
$meta_hover_background: #cbc0d2;

$meta_color: #59595a;
$meta_hover_color: #000000;

/* Dimensions */

$header_height: 36px;
$header_spacing: 12px;
$header_font_size: 16px;

$block_spacing: 6px;
$block_header_height: 32px;

$limited_layout_width: 980px;
$medium_layout_width: 1330px;
$layout_side_margin: 24px;
