@import "global";

.header {
  border-bottom: 1px solid $input_border_color;
  background: white;
}

.header__link, .header__user-toggle {
  padding: 0 $header_spacing;
  font-size: $header_font_size;
  text-decoration: none;

  color: $black;
}

.header__link {
  display: inline-block;
  line-height: $header_height;
  border-bottom: 3px solid white;
}

.header__link:hover {
  border-bottom: 3px solid $black;
}

.header__link--spacing-right {
  margin-right: 20px;
}

.header__search-input {
  width: 30vw;
}

.header__user-toggle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: bottom;

  /* Compensate for .header__link having border-bottom set to 3px */
  line-height: $header_height + 3px;

  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, white 50%, $black 50%);
  transition: background-position ease 0.2s,
              color ease 0.2s;
}

.header__user-toggle:hover, .header__user-toggle.active {
  background-position: 0 -100%;
  color: white;
  cursor: pointer;
}

.header__user-toggle__avatar {
  width: 34px;
  height: 34px;
  margin-left: 10px;
  vertical-align: middle;
}

.header__user {
  right: 8px;
  margin-top: 8px;
  line-height: 28px;
  text-align: left;

  background: $black;
  color: white;
}

.header__user__arrow {
  position: absolute;
  top: -10px;
  right: 12px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 12px solid $black;
}

.flash {
  padding: 8px 12px;
  background: white;
  border-bottom: 1px solid #d6d6d6;
}

.flashy-splash {
  padding: 18px 12px;
  font-size: 24px;
  background: $black;
  color: white;
}

.flashy-splash__link {
  color: white;
}
