= form_tag images_path, method: :get, class: 'block block--fixed', style: 'text-align:center;' do
  = text_field_tag :q, params[:q], class: 'input input--inline'
  = submit_tag 'Search', class: 'button button--inline button--spacing-left button--primary'
